<!doctype html>
{% load static from staticfiles %}
{% load brain_extras %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | Newton</title>
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
            <link rel="stylesheet" href="{% static 'css/app.css' %}">

        <link rel="stylesheet" href="{% static 'css/newton.css' %}">
{#        <link rel="stylesheet" href="{% static 'css/newton.scss' %}">#}
        <link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">

        {% block css %}{% endblock %}
{#        <script src="{% static 'js/vendor/modernizr.js' %}"></script>#}
{#        <meta class="foundation-mq">#}
    </head>
    <body>
    {% if user.is_authenticated %}

        <nav class="top-bar" role="navigation">
        <div class="grid-container-padded">
        <ul class="menu menu-hover-lines">
                <li><a href="{% url 'brain:index' %}">
                        <img style="width: 80%;" src="{% static 'images/newtonlogoblue.png' %}">
                        </a></li>
  <li class="active"><a href="{% url 'brain:index' %}">Home</a></li>
  <li><a href="/classes/17-18/2nd/McPherson">McPherson</a></li>
  <li><a href="/classes/17-18/2nd/Palermo">Palermo</a></li>
  <li><a href="/classes/17-18/2nd/Ryan">Ryan</a></li>
  <li><a href="/classes/17-18/2nd/Trost">Trost</a></li>
  <li><a href="/admin">Admin</a></li>
</ul>
</div>

        </nav>
        {% if messages %}
            <div class="grid-x grid-padding-x">
                <div class="small-6 small-centered cell">
                    {% for message in messages %}
                        <div data-alert class="alert-box {{ message.tags }} radius">
                            {{ message }}
                            <a href="#" class="close">&times;</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
        {% block breadcrumbs %}{% endblock %}
            {% block heading %}{% endblock %}
            <hr><br>
        {% block content %}{% endblock %}
        </div>
        </div>


            <footer class="footer">
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
{#      <p class="slogan">Newton</p>#}
{#      <p class="links">#}
{#        <a href="#">Home</a>#}
{#        <a href="#">Classes</a>#}
{#        <a href="#">AMC</a>#}
{#        <a href="#">NWEA</a>#}
{#        <a href="#">CBA</a>#}
{#        <a href="#">ENI</a>#}
{#        <a href="#">IXL</a>#}
{#        <a href="#">Admin</a>#}
{#      </p>#}

                <p class="quote">"If I have seen further than others, it is by standing upon the shoulders of giants."</p>
                <cite>Isaac Newton</cite>

      <p class="copyright">Copyright  © 2016-17</p>
    </div>
  </div>
</footer>
        {% else %}
        <h1 style="text-align: center; ">Hi, I'm Newton!</h1>
    <h1 style="text-align: center; ">Please <a href="/admin">login</a>, and we'll get started!</h1>
    {% endif %}

     <script src={% static 'js/vendor/jquery.js' %}></script>
    <script src={% static 'js/vendor/what-input.js' %}></script>
    <script src={% static 'js/vendor/foundation.js' %}></script>
    <script src={% static 'js/app.js' %}></script>
        {% block javascript %}{% endblock %}
        <script>
    $(document).foundation();
  </script>
    </body>
</html>