{% extends "brain/portal_layout.html" %}
{% load brain_extras %}
{% block title %}BTWA Portal {% endblock title %}
{% block heading %}
    <img style="width: 75px;float: left;" src="/static/images/btwalogo.jpeg">
    <h1 style="position:relative;left: 15px;margin-bottom: -0.5rem">Booker T. Washington Academy</h1>
    <br>

{% endblock heading %}
{% block content %}
    <div class="callout success">
        <h5 style="text-align: center">Click on your teacher's name.</h5>
    </div>
    <div class="row small-up-1 medium-up-2 large-up-4">
        {% for class in class_list %}
            <div class="column">
                <a class="expanded button" style="background-color: {{ color_list|index:forloop.counter0 }}"
                   href="{% url 'brain:portalclass' class.grade class.teacher.last_name %}"><h4><i
                        class="fa {{ icon_list|index:forloop.counter0 }}"></i>
                    {{ class.teacher.last_name }} </h4></a>
            </div>
        {% endfor %}
    </div>
<hr>
    <div class="row">
    <h3 style="color: #0c4d78;text-align: center"><i class="fa fa-star"></i> School Leaderboards <i class="fa fa-star"></i></h3>
    <div class=" large-4 columns">
    <div class="callout warning">
    <h4 style="text-align: center; color: #e15258"><i class="fa fa-clock-o"></i> IXL Time Spent <i class="fa fa-clock-o"></i></h4>
    {% for student in school_ixl_time_spent %}
    <h5 style="color: {{ color_list|index:forloop.counter0 }}">{{ forloop.counter }}. {{ student.student.first_name }} {{ student.student.last_name.0 }}: {{ student.time_spent }} mins</h5>
    {% endfor %}
    </div></div>
    <div class=" large-4 columns">
            <div class="callout warning">
    <h4 style="text-align: center; color: #51b72f"><i class="fa fa-clock-o"></i> myON Time Spent <i class="fa fa-clock-o"></i></h4>
    {% for student in school_myon_time_spent %}
    <h5 style="color: {{ color_list|index:forloop.counter0 }}">{{ forloop.counter }}. {{ student.student.first_name }} {{ student.student.last_name.0 }}: {{ student.myon_time_spent }} mins</h5>
    {% endfor %}
    </div>
    </div>
    <div class=" large-4 columns">
        <div class="callout warning">
    <h4 style="text-align: center; color: #2556a1"><i class="fa fa-arrow-circle-up"></i> Lexile Growth <i class="fa fa-arrow-circle-up"></i></h4>
    {% for student in school_myon_lexile_progress %}
    <h5 style="color: {{ color_list|index:forloop.counter0 }}">{{ forloop.counter }}. {{ student.student.first_name }} {{ student.student.last_name.0 }}.</h5>
    {% endfor %}
    </div>
    </div>
    </div>

{% endblock content %}
