<!doctype html>
{% load static from staticfiles %}
{% load brain_extras %}
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | Newton</title>
        <link rel="stylesheet" href="{% static 'css/foundation.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Asap:700" rel="stylesheet">
    <script src="https://use.fontawesome.com/b215f0aabc.js"></script>
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">

        {% block css %}{% endblock %}
        <script src="{% static 'js/vendor/modernizr.js' %}"></script>
        <meta class="foundation-mq">
    {% block extrahead %}{% endblock %}
            <link rel="stylesheet" href="{% static 'css/newton_portal.css' %}">

    </head>
    <body>


        <div class="row">
        <div class="large-12 columns">
        {% block breadcrumbs %}{% endblock %}
            {% block heading %}{% endblock %}
        {% if messages %}
            <div class="row">
                <div class="small-6 small-centered columns">
                    {% for message in messages %}
                        <div class="callout {{ message.tags }}" data-closable>
                            {{ message }}
                            <button type="button" class="close-button" aria-label="Dismiss message">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
        </div>
        </div>

        <script src="{% static 'js/vendor/jquery.js' %}"></script>
        <script src="{% static 'js/vendor/what-input.min.js' %}"></script>
        <script src="{% static 'js/foundation.js' %}"></script>
        {% block javascript %}{% endblock %}
        <script>
    $(document).foundation();
  </script>
    </body>
</html>