{% extends "brain/portal_layout.html" %}
{% load brain_extras %}
{% block extrahead %}
    <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>


    <script>jQuery('.skillbar').each(function () {
        jQuery(this).find('.skillbar-bar').animate({width: jQuery(this).attr('data-percent')}, 2000);
    });

    </script>
{% endblock %}



{% block title %}{{ student.first_name }} | BTWA Portal {% endblock title %}
{% block heading %}
    <h1 style="margin-bottom: -0.5rem">{{ greeting }}, {{ student.first_name }}!</h1>
    <h5><a href="{% url 'brain:portalclass' grade teacher %}"><i class="fa fa-arrow-circle-left"></i> I'm
        not {{ student.first_name }}</a></h5>
{% endblock heading %}
{% block content %}
{#        <div class="callout success">#}
{#         <h4 style="text-align: center">Click which site to work on.</h4>#}
{#    </div>#}
<hr>
<div class="row small-up-1 medium-up-3 large-up-3">

    {#    START OF IXL BOX#}

    <div class="column">
        <a class="expanded button" style="background-color: #5cb860; "
           href="https://www.ixl.com/signin/btwa?username={{ accountinfo.ixluser }}" target="_blank"><h3>
            <img style="width: 15%; " src="/static/images/ixl.png"> IXL</h3></a>
        {% if accountinfo %}
            <h5>Username and Password</h5>
            <div style="background-color: #c0f0c0; border: 2px solid #5cb860" class="callout secondary">
                <p><strong>Username:</strong> {{ accountinfo.ixluser }}<br>
                    <strong>Password:</strong> {{ accountinfo.ixlpass }}</p>
            </div>
        {% endif %}



        {% if ixlstats %}
            <h5>Your Progress</h5>
            <div style="background-color: #c0f0c0; border: 2px solid #5cb860" class="callout secondary">
                <p>{% if ixlstats.questions_answered %}
                    <strong style="font-size: 1.5em">Questions Answered:</strong>
                    <span class="success badge lexile">{{ ixlstats.questions_answered }}</span> <br>
                {% endif %}
                    <strong>Last Practiced: </strong> {{ ixlstats.last_practiced }}<br>
                    <strong>Time Spent: </strong> {{ ixlstats.time_spent }} minutes</p>
            </div>
        {% endif %}
    </div>
    {#    START OF MYON BOX#}
    {% if accountinfo.myonuser or myon_display %}
        <div class="column">
            <a class="expanded button" style="background-color: #3079AB"
               href="https://www.myon.com/login/index.html?username={{ accountinfo.myonuser }}" target="_blank"><h3>
                <img style="width: 15%;" src="/static/images/myon.png"> myON</h3></a>
            {% if accountinfo %}
                <h5>Username and Password</h5>
                <div style="background-color: #abd9f5;border: 2px solid #3079AB" class="callout secondary">

                    <p><strong>School Name:</strong> Booker T Washington<br>
                        <strong>Username:</strong> {{ accountinfo.myonuser }}<br>
                        <strong>Password:</strong> {{ accountinfo.myonpass }}</p>
                </div>
            {% endif %}
            {% if readingstats %}
                <h5>Your Progress</h5>
                <div style="background-color: #abd9f5;border: 2px solid #3079AB" class="callout secondary">
                    {% if readingstats.current_lexile and readingstats.goal_lexile and readingstats.starting_lexile %}
                        <div class="success progress" role="progressbar" tabindex="0"
                             aria-valuenow="{{ readingstats.current_lexile }}"
                             aria-valuemin="{{ readingstats.starting_lexile }}"
                             aria-valuetext="{{ lexile_goal_percentage }} percent"
                             aria-valuemax="{{ readingstats.goal_lexile }}">
                            <div class="progress-meter" style="width: {{ lexile_goal_percentage }}%">
                                <p style="font-size: 1.1rem"
                                   class="progress-meter-text">{{ lexile_goal_percentage }}%</p>
                            </div>
                        </div>
                    {% endif %}
                    <p style="color: #04324f">{% if readingstats.current_lexile %}
                        <strong style="font-size: 1.5em">Current Lexile:</strong>
                        <span style="background-color: #008ae6"
                              class="success badge lexile">{{ readingstats.current_lexile }}</span> <br>
                    {% endif %}
                        {% if readingstats.goal_lexile %}
                            <strong style="font-size: 1.5em">Goal Lexile:</strong>
                            <span class="success badge lexile">{{ readingstats.goal_lexile }}</span> <br><br>
                        {% endif %}
                        {% if readingstats.myon_books_finished %}
                            <strong><i class="fa fa-book fa-lg"></i> Books Finished:</strong>
                            <span style="background-color: #006cb9; font-size: 1rem "
                                  class="success badge lexile">{{ readingstats.myon_books_finished }}</span><br>
                        {% endif %}
                        {% if readingstats.myon_tests_taken %}
                            <strong><i class="fa fa-pencil-square fa-lg"></i> Tests Taken:</strong>
                            {{ readingstats.myon_tests_taken }}<br>
                        {% endif %}
                        {% if readingstats.myon_time_spent %}
                            <strong><i class="fa fa-clock-o fa-lg"></i> Time Spent Reading: </strong>
                            {{ readingstats.myon_time_spent }} minutes
                        {% endif %}</p>
                </div>
            {% endif %}

        </div>
    {% endif %}

    {#    START OF KIDS A-Z BOX#}
    <div class="column">
        <a class="expanded button" style="background-color:#e15258 " href="https://www.kidsa-z.com/main/Login"
           target="_blank"><h3>
            <img style="width: 15%;" src="/static/images/kidsaz.png"> Kids A-Z</h3></a>
        {% if accountinfo %}
            {% if accountinfo.kidsazpass %}
                <h5>Username and Password</h5>

                <div style="background-color: #faafb5; border: 2px solid #e15258" class="callout secondary">
                    <p><strong>Teacher Username:</strong> {{ accountinfo.kidsazteacher }}<br>
                        <strong>Username:</strong> {{ accountinfo.kidsazuser }}<br>
                        <strong>Password:</strong> <img style="width: 50px"
                                                        src="/static/images/raz-{{ accountinfo.kidsazpass |lower }}.png">
                    </p>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% if ixl_challenge %}
    <hr>
    <div class="row">
    <h3 style="color: #0c4d78;text-align: center"><i class="fa fa-star"></i> Your Challenges <i
            class="fa fa-star"></i></h3>
    <div class="large-6 columns">
    <h4 style="text-align: center; color: #318f30"><i
            class="fa fa-plus-square"></i> {{ ixl_challenge.challenge.title }} <i
            class="fa fa-minus-square"></i></h4>


    <table class="challenge" style="width:100%">
    <tr>
        <th><i class="fa fa-check-square-o"></i></th>
        <th>ID</th>
        <th>Skill Description</th>
        <th>Score</th>
    </tr>

{% if ixl_challenge.challenge.exercise1 %}
    <tr>
        <td><strong>{% if exercise_scores.0.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise1.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise1.skill_description }}</td>
        <td>{{ exercise_scores.0.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise2 %}
    <tr>
        <td><strong>{% if exercise_scores.1.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise2.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise2.skill_description }}</td>
        <td>{{ exercise_scores.1.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise3 %}
    <tr>
        <td><strong>{% if exercise_scores.2.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise3.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise3.skill_description }}</td>
        <td>{{ exercise_scores.2.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise4 %}
    <tr>
        <td><strong>{% if exercise_scores.3.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise4.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise4.skill_description }}</td>
        <td>{{ exercise_scores.3.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise5 %}
    <tr>
        <td><strong>{% if exercise_scores.4.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise5.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise5.skill_description }}</td>
        <td>{{ exercise_scores.4.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise6 %}
    <tr>
        <td><strong>{% if exercise_scores.5.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise6.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise6.skill_description }}</td>
        <td>{{ exercise_scores.5.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise7 %}
    <tr>
        <td><strong>{% if exercise_scores.6.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise7.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise7.skill_description }}</td>
        <td>{{ exercise_scores.6.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise8 %}
    <tr>
        <td><strong>{% if exercise_scores.7.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise8.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise8.skill_description }}</td>
        <td>{{ exercise_scores.7.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise9 %}
    <tr>
        <td><strong>{% if exercise_scores.8.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise9.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise9.skill_description }}</td>
        <td>{{ exercise_scores.8.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise10 %}
    <tr>
        <td><strong>{% if exercise_scores.9.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise10.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise10.skill_description }}</td>
        <td>{{ exercise_scores.9.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise11 %}
    <tr>
        <td><strong>{% if exercise_scores.10.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise11.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise11.skill_description }}</td>
        <td>{{ exercise_scores.10.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise12 %}
    <tr>
        <td><strong>{% if exercise_scores.11.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise12.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise12.skill_description }}</td>
        <td>{{ exercise_scores.11.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise13 %}
    <tr>
        <td><strong>{% if exercise_scores.12.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise13.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise13.skill_description }}</td>
        <td>{{ exercise_scores.12.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise14 %}
    <tr>
        <td><strong>{% if exercise_scores.13.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise14.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise14.skill_description }}</td>
        <td>{{ exercise_scores.13.score }}</td>
    </tr>
{% endif %}
{% if ixl_challenge.challenge.exercise15 %}
    <tr>
        <td><strong>{% if exercise_scores.14.score >= 80 %}
            <i class="fa fa-check-square-o"></i>{% else %}
            <i class="fa fa-square-o"></i>{% endif %}</strong></td>
        <td>{{ ixl_challenge.challenge.exercise15.skill_id }}</td>
        <td>{{ ixl_challenge.challenge.exercise15.skill_description }}</td>
        <td>{{ exercise_scores.14.score }}</td>
    </tr>

{% endif %}




</table>

</div>
<div class="large-6 columns">
</div>

</div>

{% endif %}
<br>


{#    MOOD METER USING MODAL#}
{#    <p><a data-open="exampleModal1">Click me for a modal</a></p>#}
{##}
{#<div class="reveal" id="exampleModal1" data-reveal>#}
{#  <h1>Awesome. I Have It.</h1>#}
{#  <p class="lead">Your couch. It is mine.</p>#}
{#  <p>I'm a cool paragraph that lives inside of an even cooler modal.</p>#}
{#  <button class="close-button" data-close aria-label="Close reveal" type="button">#}
{#    <span aria-hidden="true">&times;</span>#}
{#  </button>#}
{#</div>#}


{% endblock content %}