{% extends "brain/layout.html" %}
{% load brain_extras %}
{% block title %}{{ student }} Details{% endblock title %}

{% block heading %}<h1>{{ student }}</h1>
{{ student.current_class }}
{% endblock heading %}

{% block content %}
<h3>IXL</h3>
IXL Exercises attempted: {{ ixl_scores.count }}
    <hr>
<h3>AMC</h3>

{% if amc_tests.count > 0 %}
{% with student|current_amc_test as curtest %}
        <h4>Current AMC Test: {{ student|current_amc_test|amc_number_to_text }} </h4>
<h5>Times taken current test: {{student|amc_number_of_test_attempts:curtest}}</h5>
<h5>Basic Facts Grade Equivalent: {{student|current_amc_test|amc_grade_equivalent}}</h5>
{% endwith %}
<h5>Last {{ amc_tests.count }} American Math Challenge{{ amc_tests.count|pluralize }}</h5>
<table>
<tr>
<th width="50">Score</th>
<th width="50">Questions</th>
<th width="50">Pass?</th>
<th width="100">Test</th>
<th width="100">Name</th>
<th width="100">Date</th>
</tr>

{% for test in amc_tests %}
{% with date=test.date_tested %}
    <tr>
    <td>{{  test.score }}</td>
    <td>{{  test.test.total_questions }}</td>
    <td>{% if test.passing_score %}
    <b><span style="color: #19a60e">Yes</span></b>
{% endif %}
{% if not test.passing_score %}
    <b><span style="color: #ae0000">No</span></b>
{% endif %}
    </td>
    <td>{{  test.test.topic }}</td>
    <td>{{  test.test.name }}</td>
    <td>{{date}}</td>
  </tr>
    {% endwith %}
{% endfor %}
</table>

{% endif %}
{% endblock content %}

