{% extends "brain/layout.html" %}

{% block title %}{{ year }} Student List{% endblock title %}


{% block heading %}
<h1>{{ year }} Student List</h1>
{% endblock heading %}

{% block content %}
 {{ student_list.count }} students
<table style="width:80%; border: 1px solid black;">
<tr>
<th width="200">Student</th>
<th width="100">Grade </th>
<th width="150">Teacher</th>

</tr>
{% for student in student_list %}
    <tr>
    <td><a href="{% url 'brain:studentdetail' student.student_id %}">{{ student.first_name }} {{  student.last_name  }}</a></td>
    <td><a href="{% url 'brain:gradelist' year student.current_class.grade %}">{{ student.current_class.grade }}</a></td>
    <td><a href="{% url 'brain:classlist' year student.current_class.grade student.current_class.teacher.last_name %}">{{ student.current_class.teacher.last_name }}</a></td>
  </tr>
{% endfor %}
</table>

{% endblock content %}

