@charset "UTF-8";

h1, h2, h3, h4, h5, h6 {font-family: 'Roboto', sans-serif;}

.menu-text {font-size: 1.3rem;}

h1 {
  font-size: 3.0rem;
color: #183a54
}

h2 {font-size:2.5rem;}

h3{font-size: 2.0rem;}

h4{font-size: 1.5rem;}

th {
    background-color: #2199e8;
    color: white;
  text-align: left;
}



.footer {
  background-color: #d8dadf;
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem;

}
  .footer p.slogan {
    font-family: 'Roboto', sans-serif;
    color: #545557;
    font-size: 2rem;
    margin: 0 0 1rem; }
  .footer p.copyright {
    color: #464749;
    font-size: 0.875rem;
    margin: 0; }
    .footer p.quote {
    color: #47494b;
    font-size: 0.875rem;
    margin: 0; }
  .footer .links a {
    list-style: none;
    font-weight: bold;
    color: #353535;
    padding: 1rem 0 1rem;
    margin: 0; }
    .footer .links a::after {
      content: "•";
      padding: 0 0.4rem 0 0.8rem; }
    .footer .links a:last-child::after {
      content: "";
      padding: 0 0.4rem 0 0.8rem; }


table.inputtable {
    padding: 0.4rem 0.1rem 0; margin-bottom: 0;
}



.hero-section {
  background: url("http://newtonthinks.com/static/images/newton-hero.jpg") 50% no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.hero-section .hero-section-text, h1 {
  color: #fefefe;
  text-shadow: 1px 1px 2px #0a0a0a;
}









.menu-hover-lines {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.35s ease;
  padding-bottom:20px; padding-top: 20px; padding-left: 15px;
}


.menu-hover-lines li a {
  padding: 0.75rem 0;
  color: rgba(10, 10, 10, 0.5);
  position: relative;
  margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #1779ba;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: #0a0a0a;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}

