{% extends "brain/layout.html" %}
{% load brain_extras %}

{% block title %}{{ teacher }} AMC Student List{% endblock title %}

{% block heading %}
<h1>{{ teacher }} AMC Student List</h1>
{% endblock heading %}
{% block content %}
{% if student_list.count > 0 %}
        <div class="row">
            <div class="small-11 small-centered columns">


  <div class="large-8 columns"> <span style="font-size: 2.0rem; padding-top:.5em; font-family: 'Roboto', sans-serif;">Class Badges Earned:&nbsp</span>
      <span style="font-size: 2.0rem; font-family: 'Roboto', sans-serif;" class="success badge">{{ student_list|amc_teacher_badges_earned }}</span></div>

        <div class="large-4 columns">
    <p><a class="large button" style="float:right;" href="{% url 'amc:inputamcscores' year grade teacher %}">Input AMC Scores</a>
        </div>



   </p>
                <div class="column row">
    {{ student_list.count }} student{{ student_list.count|pluralize }}

    <table>
<tr>
<th width="150">Student</th>
<th width="150">Current AMC</th>
<th width="50">Times Taken</th>
<th width="150">Grade Equivalent</th>
<th width="50">Badges Earned</th>

</tr>

{% for student in student_list %}{% with student|current_amc_test as curtest %}
    <tr>
    <td><a href="{% url 'brain:studentdetail' student.student_id %}">{{ student.first_name }} {{  student.last_name  }}</a></td>
    <td>{{student|current_amc_test|amc_number_to_text}}</td>
    <td>{{student|amc_number_of_test_attempts:curtest}}</td>
    <td>{{student|current_amc_test|amc_grade_equivalent}}</td>
    <td>{{ student|amc_badges_earned }}</td>
  </tr>         {% endwith %}

{% endfor %}
</table></div>
    {% else %}
    No students to show.
{% endif %}
</div></div>
{% endblock content %}



