{% extends "brain/layout.html" %}
{% load brain_extras %}

{% block title %}
    {% if teacher %}
    {{ teacher }}'s AMC Tests
    {% elif grade %}
  {{ grade }} Grade AMC Tests
    {% elif year %}
    {{ year }} School-Wide AMC Tests
    {% endif %}
{% endblock title %}

{% block heading %}
    <h1>American Math Challenge</h1>
{% endblock heading %}

{% block content %}
            <div style="float:right;" class="large-6 columns">
        <a class="button" style="float:right;font-weight: bold; background-color: #da3116" href="{% url 'amc:testsheetsgrade' year '2nd' %}">Print Tests</a>
        <a class="button" style="float:right; background-color: #37b32d;font-weight: bold " href="{% url 'amc:challengesheetsgrade' year '2nd'  %}">Print Challenges</a>
        </div>

    <div class="row">
    <h4>Select a class to view.</h4>
{% for teacher in teacher_list %}
    <p><a class="large button" href="{% url 'amc:classlist' year teacher.grade teacher.teacher.last_name %}">{{ teacher.teacher }}</a>
   </p>
{% endfor %}
    </div>

{% endblock content %}