{% extends "brain/layout.html" %}
{% load brain_extras %}

{% block title %}Input AMC Tests{% endblock title %}


{% block content %}
    <div class="row">
<h1>Input {{ teacher }} AMC Tests</h1>
{% for student in student_list %}
{{ student }}
    <p>Current AMC Test: {{ student|current_amc_test|amc_number_to_text }}</p>
    <form action="" method="POST">
        {{ form.as_p }}

{% endfor %}
            {% csrf_token %}
        <input type="submit" class="button" value="Save">
    </form>
    </div>
{% endblock content %}